<h2 class="h2 text-center"> Ajouter un Artiste </h2>

<form (ngSubmit)="addArtiste(form)" #form="ngForm">


  <div class="form-group w-75 mx-auto">
    <label> Nom de l'artiste / du groupe : </label>
    <input type="text" class="form-control rounded"[(ngModel)]="artiste.nom" name="nom" required>
  </div>

  <div class="form-group w-75 mx-auto">
    <label> Biographie de l'artiste / du groupe : </label>
    <textarea type="text"
           class="form-control"
           name="biographie"

           rows="3"
           [(ngModel)]="artiste.biographie">
    </textarea>
  </div>

  <div class="alert alert-danger" *ngIf="form.invalid && formSubmitted"> Veuillez remplir les champs requis </div>

  <div class="text-center">
  <button class="btn btn-outline-secondary"> Envoyer</button>
  </div>

</form>

