<div class="container">

  <div class="jumbotron">
    <h1 class="display-4 text-center"> 🙤 Festival 3000 🙦</h1>
    <hr class="style18">
    <p class="lead"> le Festival 3000 est aujourd'hui l'une des plus importantes manifestations internationales du monde
      de la musique !
      <br> Chaque année, le festival accueille des dizaines de milliers d'amoureux de la musique de toutes les
      générations. </p>
  </div>

  <div *ngIf="loading">Chargement en cours</div>

  <ng-container *ngIf="!loading">

    <nav class="navbar navbar-light nav-tabs">
      <a class="nav-link" routerLink="/">Accueil</a>&nbsp;

      <a class="nav-link" routerLink="/listeArtiste"> Liste des Artistes </a>
      <a class="nav-link" routerLink="/addArtiste" *ngIf="isConnected"> Ajouter un Artiste </a>

      <a class="nav-link" routerLink="/listeConcert"> Programmation </a>
      <a class="nav-link" routerLink="/addConcert" *ngIf="isConnected"> Ajouter un Concert</a>

      <a class="nav-link" routerLink="/my-account" *ngIf="isConnected">Mon compte</a>&nbsp;
      <a class="nav-link" routerLink="/login" *ngIf="!isConnected">Se connecter</a>&nbsp;
      <a class="nav-link" routerLink="/register" *ngIf="!isConnected">Créer un compte</a>
      <a class="button" (click)="logout()" *ngIf="isConnected">Se déconnecter</a>&nbsp;
    </nav>

    <hr>

    <p class="lead" *ngIf="isConnected"> Bonjour {{currentUser?.username}} </p> <!-- not working -->

    <router-outlet></router-outlet>

  </ng-container>
</div>

<ngx-ui-loader></ngx-ui-loader>
